<% content_for :head do %>
  <%= stylesheet_link_tag 'give-feedback' %>
<% end %>

<div class="give-feedback">
  <%= link_to "Give feedback on our service guide and help us improve.", "http://insert-feedback-link-here.com" %>
</div>
