---
title: Quick Links | CTC Traders API roadmap
weight: 2
description: Software developers, designers, product owners or business analysts. Links to other documentation for NCTS.
---

# Quick Links

Links to other documentation for NCTS.

### Phase 6
- <a href="https://developer.service.hmrc.gov.uk/roadmaps/common-transit-convention-traders-roadmap/" target="_blank" rel="noopener noreferrer">CTC Traders API roadmap</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-traders-tis/" target="_blank" rel="noopener noreferrer">NCTS Phase 6 Technical Interface Specification</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-traders-service-guide/" target="_blank" rel="noopener noreferrer">CTC Traders API Service Guide</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-traders-testing-guide/" target="_blank" rel="noopener noreferrer">CTC Traders API Testing Guide</a>
- <a href="https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/common-transit-convention-traders/3.0/oas/page" target="_blank" rel="noopener noreferrer">NCTS API Documentation v3.0</a>

### Phase 5
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-tis/" target="_blank" rel="noopener noreferrer">NCTS Phase 5 Technical Interface Specification</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-service-guide/" target="_blank" rel="noopener noreferrer">CTC Traders API Phase 5 Service Guide</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-testing-guide/" target="_blank" rel="noopener noreferrer">CTC Traders API Phase 5 Testing Guide</a>
- <a href="https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/common-transit-convention-traders/2.1/oas/page" target="_blank" rel="noopener noreferrer">NCTS API Documentation v2.1</a>

### CTC Guarantee Balance
- <a href="https://developer.service.hmrc.gov.uk/roadmaps/ctc-guarantee-balance-roadmap/" target="_blank" rel="noopener noreferrer">CTC Guarantee Balance roadmap</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-guarantee-balance-testing-guide/" target="_blank" rel="noopener noreferrer">CTC Guarantee Balance Testing Guide</a>
- <a href="https://developer.service.hmrc.gov.uk/guides/ctc-guarantee-balance-service-guide/" target="_blank" rel="noopener noreferrer">CTC Guarantee Balance Service Guide</a>